/*global*/
:root {
  --color-gray: #333333;
  --color-gray-light: #525252;
  --color-gray-dark: #252525;
  --color-wine: #8f1622;
}

main{
  padding-bottom: 20px;
}

/*rows and columns*/

.firstRow {
  display: flex;
  flex-direction: row;
}

.secondRow {
  flex-direction: row;
  display: flex;
}

.firstColumn {
  padding: 3rem 0rem 0rem 4rem;
  width: 40vw;
}
.secondColumn {
  padding-right: 4rem;
  padding-left: 4rem;
  padding-top: 3rem;
  width: 100%;
}

.internalRow {
  flex-direction: row;
  display: flex;
  overflow: auto;
}

/*Cards*/

/*Cards Vehicles*/

.CarCard {
  background-color: var(--color-gray);
  width: 40vw;
  height: 420px;
  border-radius: 10px;
  padding: 30px;
}

.orderCardCar {
  flex-direction: row;
  display: flex;
  overflow-x: scroll;
  padding-bottom: 10px;
}

.whiteCardCar {
  background-color: white;
  height: 280px;
  width: 280px;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 30px;
  flex: none;
}

/*Cards Services*/

.serviceCard {
  background-color: var(--color-gray);
  border-radius: 10px;
  height: 308px;
  width: 40vw;
  margin-top: 3rem;
  padding: 30px;
}

.orderCardService {
  width: 100%;
}

.whiteCardService {
  background-color: white;
  height: 84px;
  width: 240px;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 30px;
  flex: none;
}

/*Cards To Do*/

.ToDoCard {
  background-color: var(--color-gray);
  height: 420px;
  border-radius: 10px;
  padding: 30px;
  resize: none;
  margin-left: 3rem;
  margin-bottom: 3rem;
}

.orderCardToDo {
  overflow-y: scroll;
  height: 85%;
}

.whiteCardToDo {
  background-color: white;
  height: 84px;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 30px;
  flex: none;
}

/*Cards Calendar*/

.calendarCard {
  background-color: var(--color-gray);
  width: 336px;
  border-radius: 10px;
  margin-left: 3rem;
  height: 308px;
}

.orderCardCalendar {
  background-color: var(--color-gray);
  border-radius: 10px;
  margin-left: 3rem;
  height: 308px;
  padding: 30px;
}

/*Cards Month Services*/

.monthServiceCard {
  background-color: var(--color-gray);
  width: 100%;
  border-radius: 10px;
  margin-left: 3rem;
  height: 308px;
  padding: 30px;
}

.orderCardMonthService {
  background-color: var(--color-gray);
}

.whiteCardMonthService {
  background-color: white;
}

/*textos*/

.title {
  color: white;
  font-size: 24px;
}

/*Images*/
.carImage {
  height: 140px;
  resize:'cover';
}

/*Calendar*/
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: var(--color-gray);
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

/*todos os dias do calendário*/
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  color: white;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: var(--color-gray-dark);
  color: white;
}
.react-calendar__navigation button[disabled] {
  background-color: var(--color-gray-dark);
  color: white;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
  color: white;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  color: white;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
  color: white;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
  color: white;
}
.react-calendar__month-view__days__day--weekend {
  color: var(--color-wine) !important;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575 !important;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
  color: white;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
  color: white;
}
.react-calendar__tile:disabled {
  background-color: var(--color-gray-dark);
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: var(--color-gray-dark);
}
.react-calendar__tile--now {
  background: var(--color-wine);
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: var(--color-wine);
}
.react-calendar__tile--hasActive {
  background: var(--color-gray-light);
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: var(--color-gray-light);
}
.react-calendar__tile--active {
  background: var(--color-gray-light);
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #565656;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
