.cardCadastro {
    border: 0 none;
    border-radius: 10px;
    text-align: center;
    background-color: var(--color-gray-dark);
    color: var(--color-white);
    width: 448px;
    height: 448px;
  }
  .tituloCadastro{
    padding: 1.2rem 0 0.5rem 0;
    font-size: 35px;
  }
  .mainCadastro{
    background: url(../assets/fundo.svg);
    background-size: 100% 100% 100% 100%;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    padding: 0;
  }
  .botaoCadastrar{
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    background-color: var(--color-wine);
    color: var(--color-white);
    line-height:2.8;
    align-items: center;
    width: 40%;
    height: 10%;
    display: inline-block;
    align-self: center;
    text-decoration: none;
    transition-duration: 0.4s;
    box-shadow: rgb(0 0 0 / 10%) 0px 18px 30px;
  }