/*Global*/
:root {
  --color-gray-claro: #525252;
  --color-gray-light: #333333;
  --color-gray-dark: #252525;
  --color-wine: #8f1622;
  --color-white: white;
}

* {
  align-items: 0;
  margin: 0;
}
/*Body*/

.row-Login {
  padding-top: 1rem;
}

.main-Login{
  background: url(./assets/fundo.svg);
  background-size: 100% 100% 100% 100%;
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;

  padding: 0;
}
.card-Login {
  border: 0 none;
  border-radius: 10px;
  text-align: center;
  background-color: var(--color-gray-dark);
  color: var(--color-white);
  width: 448px;
  height: 448px;
}

/*Text*/
.Titulo-Login {
  padding: 2.5rem 0 1rem 0;
  font-size: 35px;
}
.Titulo-Senha-Email {
  margin: 0;
  padding: 0.5rem 0 0.3rem 0;
  font-size: 20px;
}
.Subtitulo-Conta {
  margin: 0 25% 0 25%;
  font-size: 20px;
}
/*Campo*/

input {
  box-sizing: border-box;
  appearance: none;
  text-align: start;
  height: 30px;
  width: 18rem;
  background-color: var(--color-gray-light);
  border: solid var(--color-gray-claro);
  border-width: 1px;
  border-radius: 3px;
  color: var(--color-white);
  margin: 0 20% 0 20%;
  box-shadow: rgb(0 0 0 / 10%) 0px 18px 30px;
}

.divisoria {
  padding: 1rem;
}

/*Button*/

.Botao-Entrar{
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  background-color: var(--color-wine);
  color: var(--color-white);
  line-height:2.8;
  align-items: center;
  width: 40%;
  height: 10%;
  display: inline-block;
  align-self: center;
  text-decoration: none;
  transition-duration: 0.4s;
  box-shadow: rgb(0 0 0 / 10%) 0px 18px 30px;
}
.Botao-Entrar:hover{
  background-color: #8F1622; 
  color: var(--color-white);
  opacity: 0.7;
}

.registrate {
  color: var(--color-white);
  text-decoration: none;
  cursor: pointer;
  opacity: 10;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  align-self: center;
  box-shadow: rgb(0 0 0 / 10%) 0px 18px 30px;
}

.registrate:hover {
  background-color: transparent;
  color: var(--color-white);
  opacity: 0.7;
}
