.App {
align-content: flex-start;
}

.Titulo{
  font-size: 20px;
  color: white;
  padding: 20px;
}

.CardCarro{
  background-color: white;
  width: 280px;
  height: 280px;
  border-radius: 10px;
}

.CardServicos{
  background-color: white;
  width: 280px;
  height: 84px;
  border-radius: 10px;
}

.CardToDo{
  background-color: white;
  width:896px;
  height: 64px;
  border-radius: 10px;
}

.Divisor{
  padding-top: 20px;
}

.FrameCarros{
 background-color:#333333;
 width: 644px;
 height: 420px;
 border-radius: 10px;
}
.FrameToDo{
 background-color:#333333;
 width: 644px;
 height: 420px;
 border-radius: 10px;
}

.FrameServicos{
 background-color:#333333;
 width: 644px;
 height: 308px;
 border-radius: 10px;
}

.Column-Horizontal{
  display: flex;
  padding-left: 27px;
}
.Column-Horizontal-Top{
  display: flex;
  padding-left: 50px;
}
.Column-Horizontal-Left{
  display: flex;
  padding-left: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  color: white;
  padding-top: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
