.sideBySide{
  display: flex;
  flex-direction: row;
}
.options{
  color: white;
  background-color:#333333;
}


#formControl{
  background-color: #333333;
  border-color: #525252;
  border-width: 1px;
  border-style: solid;
  width:300px;
  color: #ffffff;
}

.dropDown{
  color: #ffffff;
}

#options{
  background-color: #333333;
}

.react-calendar{
  width: 800px;
  height: 100%;
}

.calendarSize{
  height: 650px;
  padding-left: 6rem;
  padding-top: 20px;
}

.react-calendar__month-view__days{
  
}

#titleServices{
  padding-top: 20px;
}

#titleCalendar{
  padding-left: 6rem;
}