/*Global*/
:root {
  --color-gray-claro: #525252;
  --color-gray-light: #333333;
  --color-gray-dark: #252525;
  --color-wine: #8f1622;
  --color-white: white;
}

*{
  align-items: 0;
  margin: 0;
}

/*body*/ 
.main{
  background: url(/src/assets/fundo.svg);
  background-size: 100% 100% 100% 100%;
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
}
.card{
  text-align: center;
  background-color: var(--color-gray-dark);
  color: var(--color-white);
  width: 448px;
  height: 448px;
}

/*Text*/
h2{
  padding: 2rem 0 1rem 0 ;
  font-size: 35px;
}
h3{
  margin-bottom: 0.1rem;
  padding: 1rem 0 0 0 ;
  font-size: 20px;
}
p{
  margin: 2rem 0 0 0;
  font-size: 18px;
}

/*Campo*/
input{
  box-sizing: border-box;
  appearance: none;
  background-color: var(--color-gray-light);
  border: solid var(--color-gray-claro);
  border-width: 1px;
  border-radius: 3px;
  cursor: pointer;
  color: var(--color-white);
  margin:0 20% 0 20%;
  box-shadow: rgb(0 0 0 / 20%) 0px 18px 30px;
}
.divisoria{
  padding: 1rem;
}

 /*Button*/
.botao {
  border-radius: 0.2rem;
  letter-spacing: 0.3%;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  background-color: var(--color-wine);
  color: var(--color-white);
  line-height: 4.1;
  align-items: center;
  width: 35%;
  display: inline-block;
  align-self: center;
  text-decoration: none;
  transition-duration: 0.4s;
  box-shadow: rgb(0 0 0 / 20%) 0px 18px 30px;
}
.cadastrar{
  color: var(--color-white);
  text-decoration: none;
  cursor: pointer;
  opacity: 10;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  align-self: center;
}
.botao:hover{
  background-color: #8F1622; 
  color: var(--color-white);
  opacity: 0.7;
}
.cadastrar:hover{
  background-color: transparent;
  color: var(--color-white);
  opacity: 0.7;
}